# Ignore files with a specific extension
*.log
# Ignore __pycache__/
__pycache__/
# Ignore R related extensions
.Rproj.user
.Rhistory
#######
my_thesis.egg-info
########
# Ignore files with a specific name
#########
respaldo_VI.R
